@model OptativoTercerParcial.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    @Html.HiddenFor(model => model.ID_USUARIO)

    <div class="form-group">
        <label asp-for="NOMBRe_EUSUARIO" class="control-label"></label>
        <input asp-for="NOMBRE_USUARIO" class="form-control" />
        <span asp-validation-for="NOMBRE_USUARIO" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CONTRASEÑA" class="control-label"></label>
        <input asp-for="CONTRASEÑA" class="form-control" />
        <span asp-validation-for="CONTRASEÑA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
